@font-face {
    font-family: GameFont;
    src: url(../fonts/PressStart2P-2.14/PressStart2P.ttf);
}



html {
    background: linear-gradient(45deg, rgb(11, 11, 11) 0%,  rgb(46, 46, 46) 100%);
}



.social_media_row_item {
    display: inline-block;
    padding: 3%;
}

.social_media_row_item img {
    width: 100%;
}

#social_media_row {
    background-color: rgb(47, 47, 47);
    border-radius: 25px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-top: 5%;

    display: flex;
    justify-content: center;

    width: 25%;
}



#title_div {
    background-color: rgb(47, 47, 47);
    border-radius: 10px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;

    width: 78%;
}

#title_text {
    padding: 0px;

    color: rgb(23, 228, 0);
    font-family: GameFont;
    font-size: 50px;
    white-space: auto;
    text-align: center;
}